<nav class="h-full min-h-screen w-56 bg-white shadow rounded-xl px-4 py-8 flex flex-col gap-4 items-start">
  <h1 class="text-2xl font-bold text-gray-800 mb-4">Health Checker</h1>
  <a routerLink="/exerciseschedule" routerLinkActive="font-bold text-blue-600" class="w-full text-gray-700 hover:text-blue-600 transition px-2 py-2 rounded">Oefenschema</a>
  <a routerLink="/exercises" routerLinkActive="font-bold text-blue-600" class="w-full text-gray-700 hover:text-blue-600 transition px-2 py-2 rounded">Oefeningen</a>
  <a routerLink="/userpreferences" routerLinkActive="font-bold text-blue-600" class="w-full text-gray-700 hover:text-blue-600 transition px-2 py-2 rounded">Voorkeuren</a>
</nav>